.row{
    display: flex;
    flex-direction: column;
}
label {
  font-weight: 600;
  font-size: medium;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]{
  @apply bg-red-100 rounded-md border-none;
}

.submit {
    transition: all 0.3s ease;
    border: 2px solid #fff;
    @apply text-xl bg-red-400 text-white rounded-lg py-2 px-4 ;
  }
  
  .submit:hover {
    @apply text-red-400 bg-white border-2 border-red-400 ;
  }